<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceSQLConn" value="Data Source=;Initial Catalog=;User ID=;Password="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
<!--1.column defect name need connect db 2,how to reduce times?-->
<!--2.Columns.ColumnChanged(),Columns.ColumnChanging()-->
